<h1>Editoriales</h1>

<ul>
	<li><a href="/editoriales/nuevo">Crear Ediorial</a></li>
	<li><a href="/">Libros</a></li>
</ul>

{% block content %}

{% load catalogue_tags %}
	<table>
		<tr>
	        <td>Check</td>
			<td>Nombre</td>
			<td>Sede</td>
		<form action = "." method="post" accept-charset="utf-8">
	    {% for item in item_list %}
	        {# <li>Item1 (<a href="{% url 'mydelete' pk=libro.pk %}">Delete</a>)</li> #}
	        <tr>
	        	<td><input type="checkbox" name="checkboxed" value="{{item.pk}}"></td>
	        	<td>{{item.nombre}}</td>
	        	<td>{{item.sede}}</td>
	    {% endfor %}
	</table>
	{% csrf_token %}
	<button type="submit" name="perform" value='delete' formaction="delete/">Delete</button>
<endform>
{% endblock %}
